<!-- Used to render Contact Log Entries form -->

<div id ="error_explanation">
	<%= form_for([@contact, @contact.contact_logs.build]) do |c| %>
		<%= c.text_area :notes %><br>
		<%= submit_tag "Save Entry" %>
	<% end %>
</div>
